:root {
       --font-serif: 'Libre Baskerville', 'sans-serif';
       --font-sans: 'Source Sans Pro', 'sans';
}

body {
       padding: 0; margin: 0;
}
#overlay {
       width: 100%; height: 100vh;
       background-color: #00;
}
.container {
       display: flex;
       width: 100%; height: fit-content;
}